*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
html
{
    --verde--oscuro: #1B3A1F;
    --beige: #F5F0E6;
    --dorado: #C5A46D;
}
.container_header_computer
{
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(4px);
}
.container_nav
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    width: 100px;
    height: 75px;
    padding: 10px;
}
.logo_img
{
    width: 100%;
    height: 100%;
}
.container_ul_links
{
    width: 500px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li_links
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.anchor_nav
{
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    color: var(--dorado);
    transition: .3s ease-in-out;
}
.anchor_nav:hover
{
    font-size: 17px;
    color: var(--verde--oscuro);
}
.container_header_movile
{
    display: none;
}
.container_main
{
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    place-items: center;
}
.section_background_image
{
    width: 100%;
    min-height: 100vh; 
    background-image:url(assets/Hombre-caza-menor.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}
.container_article_main
{
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: var(--blanco);
}
.section_article_texts
{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 80px 1fr;
}
.section_div_h1
{
    display: grid;
    place-items: center;
}
.h1_global
{
    text-align: center;
    color: black;
    font-size: 50px;
}
.section_div_info
{
    width: 100%;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}
.img_section
{
    width: 80%;
    height: 80%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
}
.info
{
    width:100%;
    height: auto;
    color: black;
    padding: 5px;
}
.h2_global
{
    text-align: center;
    font-size: 35px;
    color: black;
}
.info_parraf
{
    font-size: 16px;
    color: black
}
.article_experiences
{
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    place-items: center;
}
.info_parraf_experiences
{
    text-align: center;
    padding: 10px;
}
.experiences_section_images
{
    width: auto;
    height: auto;
    padding: 20px;
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: repeat(2,400px);
}
.img_caza
{
    width: 100%;
    height: 100%; 
    cursor: pointer; 
    transition: transform 0.3s; 
}
.img_caza:hover
{
    transform: scale(1.01);
}
.videos_torcaza
{
    width: 100%;
    height: auto;
    padding: 20px;
}
.info_experiences
{
    padding: 10px;
    text-align: center;
}
.span_global
{
    text-align: center;
    color: black;
}
.container_videos
{
    width: 100%;
    height: auto;
    padding: 10px;
    display: grid;
    gap: 10px;
    place-items: center;
}
.videos
{
    width: 100%;
    height: 400px;
}
.article_ubication
{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 20px;
}
.article_section_ubication
{
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;   
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}
.info_ubication_texts
{
    width: 100%;
    height: auto;
    display: grid;
}
.ubication_parraf
{
    text-align: center;
    padding: 10px;
    color: black;
}
.img_territory
{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.map
{
    width: 90%;
    height: auto;
    padding: 20px;
    display: grid;
    place-items: center;

}
.ubication
{
    width: 100%;
    height: 300px;
}
.companies
{
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;
}
.h2_companies
{
    text-align: center;
    font-size: 35px;
    color: black;
    padding: 30px;
}
.container_img_companies
{
    width: 80%;
    height: auto;
    display: grid;
    padding-bottom: 100px;
    gap: 10px;
    grid-template-columns: repeat(6,1fr);
}
.article_contact
{
    width: 100%;
    height: 400px;
    display: grid;
    padding-top: 30px;
    place-items: center;
    background-color: var(--beige);
}
.contact_info
{
    width: 80%;
    height: auto;
    display: grid;
    place-items: center;
}
.btn_contact
{
    padding: 14px 28px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    background: #25D366;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease-in-out;
}
.btn_contact:hover
{
    background: #1ebe5b;
    transform:  scale(1.05);
}
.container_footer
{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    background-color: rgb(0, 0, 0);  
}
.footer_info
{
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
}
.contact_info_footer
{
    display: grid;
    place-items: center;
    padding: 10px;
}
.h3_global 
{
    color: white;
}
.span_footer
{
    color: white;
}
.social_info_footer
{
    display: grid;
    place-items: center;
    padding: 10px;
}
.icons_social_media
{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.icons
{
    font-size: 30px;
    color: white;
}
.copyright
{
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #888;
    background-color: rgb(49, 49, 49);
}
.spam
{
    color: #888; /* mismo color que el texto */
    text-decoration: none;
}
.spam:hover
{
    color: var(--dorado);
}
.modal 
{
  display: none; 
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(4px);
}

.modal-content 
{
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.6);
}
.close 
{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover 
{
  color: #ccc;
}
@media screen and (max-width: 980px)
{
    .experiences_section_images
    {
        grid-template-columns: 600px;
    }
    .h1_global
    {
        font-size: 30px;
    }
    .img_section
    {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 768px)
{
    .container_header_computer
    {
        display: none;
    }
    .container_header_movile {
        display: grid;
        position: fixed;
        width: 100%;
        z-index: 1000;
        transition: top 0.3s ease-in-out;
        backdrop-filter: blur(4px);
    }
    .logo_movile {
        display: block;
        text-align: center;
    }
    .logo_img_movile {
        width: auto;
        height: auto;
    }
    .label_icon {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 30px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .label_icon .line {
        display: block;
        height: 3px;
        width: 100%;
        background: var(--marron);
        border-radius: 2px;
        transition: 0.3s ease-in-out;
    }
    #label_icon 
    {
        display: none;
    }
    .container_ul_links_movile 
    {
        height: 150vh;
        text-align: center;
        display: none;
        flex-direction: column;
        gap: 20px;
        backdrop-filter: blur(4px);
    }

    .li_links_movile .anchor_nav 
    {
        color: var(--dorado);
        font-size: 17px;
        transition: color 0.3s;
    }
    .li_links_movile .anchor_nav:hover 
    {
        color: var(--verde--oscuro); 
    }
    #label_icon:checked ~ .container_ul_links_movile 
    {
        display: flex;
        margin-top: 18px;
    }
    #label_icon:checked + .container_ul_links_movile,
    #label_icon:checked ~ .label_icon .line 
    {
        transition: all 0.4s ease;
    }

    #label_icon:checked ~ .label_icon .line:nth-child(1) 
    {
        transform: rotate(45deg) translateY(16px);
    }

    #label_icon:checked ~ .label_icon .line:nth-child(2) 
    {
        opacity: 0;
    }

    #label_icon:checked ~ .label_icon .line:nth-child(3) 
    {
        transform: rotate(-45deg) translateY(-16px);
    }
    .section_background_image {
        background-position: center;   
        background-size: cover; 
        border: transparent        
    }
    .h1_global
    {
        text-align: center;
        font-size: 25px;
    }
    .h2_global
    {
        font-size: 20px;
        padding: 20px;

    }
    .h2_companies
    {
        font-size: 20px;
        padding: 20px;
    }
    .info_parraf
    {
        text-align: center;
        padding: 10px;
    }
    .section_div_info
    {
        grid-template-columns: 1fr;
    }
    .img_section
    {
        width: 100%;
        height: 90%;
    }
    .info
    {
        width: 90%;
        height: auto;
    }
    .about_us
    {
        font-size: 20px;
    }

    .experiences_section_images
    {
        grid-template-columns: 1fr;
    }
    .article_section_ubication
    {
        grid-template-columns: 1fr;
    }
    .container_img_companies
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .modal 
    {
        display: none; 
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; 
        background: rgba(0,0,0,0.8);
        backdrop-filter: blur(4px);
    }

    .modal-content 
    {
        margin: auto;
        display: block;
        max-width: 90%; 
        max-height: 70vh; 
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    }

    .close 
    {
        position: absolute;
        top: 10px;
        right: 20px;
        color: #fff;
        font-size: 32px; 
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: #ccc;
    }
}
@media screen and (max-width: 450px)
{
    .footer_info
        {
            display: grid;
            grid-template-columns: 1fr;
        }
}
 